<form>
  <div class="form-group">
    <label class="col-form-label">New email</label>
    <input type="email" [formControl]="emailControl" class="form-control form-control-lg">
    <div class="text-danger" *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)">
      <div *ngIf="emailControl.errors.required">
        The email field is required.
      </div>
      <div *ngIf="emailControl.errors.email">
        The email must be a valid email address.
      </div>
    </div>
  </div>
  <div class="text-right">
    <button
            type="button"
            class="btn btn-md waves-effect"
            [class.btn-primary]="valid"
            [disabled]="!valid"
            (click)="changeSwal.show()"
    >
      Change
    </button>
  </div>
</form>

<swal
        #changeSwal
        title="Confirm Password"
        text="To change email: {{ emailControl.value }}"
        input="password"
        [showCancelButton]="true"
        (confirm)="submit($event)">
</swal>