<app-page-breadcrumb [pages]="pages"></app-page-breadcrumb>
<app-chat-navbar [workspace]="workspace" [chat]="chat" [roles]="roles"></app-chat-navbar>

<div class="row">
  <div class="col-12 col-md-12 col-lg-12">
    <div class="card card-primary">
      <div class="card-header">
        <h4>Details</h4>
        <div class="card-header-action">
          <button
                  class="btn btn-icon btn-light btn-sm"
                  (click)="detailsCollapsed = !detailsCollapsed"
                  [attr.aria-expanded]="!detailsCollapsed"
          >
            <i class="fas" [class.fa-plus]="detailsCollapsed" [class.fa-minus]="!detailsCollapsed"></i>
          </button>
        </div>
      </div>
      <div class="card-body row" [ngbCollapse]="detailsCollapsed">
        <div class="col-6">
          <h3 class="text-center">{{ chat.name }}</h3>
          <p class="table-responsive" style="max-height: 300px">
            {{ chat.description ? chat.description : 'No description' }}
          </p>
        </div>
        <div class="col-6">
          <div class="table-responsive">
            <table class="table table-hover text-center">
              <thead>
              <tr>
                <th>Key</th>
                <th>Value</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Manager</td>
                <td>
                  <app-user-item-box [user]="chat.manager"></app-user-item-box>
                </td>
              </tr>
              <tr>
                <td>Created</td>
                <td>
                  {{ chat.createdAt | date: 'medium' }}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>