<form>
  <div class="form-group">
    <label class="col-form-label">New password</label>
    <div class="input-group">
      <input [type]="showPassword ? 'text' : 'password'" [formControl]="passwordControl"
             class="form-control form-control-lg">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" (click)="showPassword = !showPassword">
          <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
        </button>
      </div>
    </div>
    <div class="text-danger" *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)">
      <div *ngIf="passwordControl.errors.required">
        The password field is required.
      </div>
      <div *ngIf="passwordControl.errors.minlength">
        The password must be at least 8 characters.
      </div>
    </div>
  </div>
  <div class="text-right">
    <button
            type="button"
            class="btn btn-md waves-effect"
            [class.btn-primary]="valid"
            [disabled]="!valid"
            (click)="changeSwal.show()"
    >
      Change
    </button>
  </div>
</form>

<swal
        #changeSwal
        title="Confirm Password"
        text="To change password"
        input="password"
        [showCancelButton]="true"
        (confirm)="submit($event)">
</swal>