<app-page-title title="Home"></app-page-title>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card card-warning" *ngIf="(workspaces | favoriteTeam).length">
      <div class="card-header">
        <h4>Pinned</h4>
        <div class="card-header-action">
          <button
                  class="btn btn-icon btn-warning"
                  (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed"
          >
            <i class="fas" [class.fa-plus]="isCollapsed" [class.fa-minus]="!isCollapsed"></i>
          </button>
        </div>
      </div>
      <div [ngbCollapse]="isCollapsed">
        <div class="card-body row">
          <div class="col-12 col-md-4 col-lg-4" *ngFor="let workspace of (workspaces | favoriteTeam)">
            <app-workspace-item-box [workspace]="workspace"></app-workspace-item-box>
          </div>
        </div>
      </div>
    </div>
    <h2 class="section-title">Your workspaces</h2>
    <p class="section-lead">
      Your own and belong teams.
    </p>
    <div class="row">
      <div class="col-12 col-md-4 col-lg-4" *ngFor="let workspace of workspaces">
        <app-workspace-item-box [workspace]="workspace"></app-workspace-item-box>
      </div>
    </div>
  </div>
</div>