<div class="modal-header">
  <h4 class="modal-title">
    Terms & Services
    <small>(Effective Date: 01.01.2019)</small>
  </h4>
  <button type="button" class="close" (click)="activeModal.dismiss()" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">
  <h6>User Terms of Service</h6>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi massa ipsum, interdum quis dignissim ut,
    consectetur eget massa. Morbi efficitur sem justo, non vulputate magna molestie vitae. Nunc venenatis congue
    elit, sit amet iaculis nulla consequat quis. Pellentesque vitae purus nec metus maximus tempor in eget
    enim.
  </p>
  <h6>Privacy Policy</h6>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi massa ipsum, interdum quis dignissim ut,
    consectetur eget massa. Morbi efficitur sem justo, non vulputate magna molestie vitae. Nunc venenatis congue
    elit, sit amet iaculis nulla consequat quis. Pellentesque vitae purus nec metus maximus tempor in eget
    enim.
  </p>
  <h6>Cookies Policy</h6>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi massa ipsum, interdum quis dignissim ut,
    consectetur eget massa. Morbi efficitur sem justo, non vulputate magna molestie vitae. Nunc venenatis congue
    elit, sit amet iaculis nulla consequat quis. Pellentesque vitae purus nec metus maximus tempor in eget
    enim.
  </p>
  <h6>HTTP API Policy</h6>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi massa ipsum, interdum quis dignissim ut,
    consectetur eget massa. Morbi efficitur sem justo, non vulputate magna molestie vitae. Nunc venenatis congue
    elit, sit amet iaculis nulla consequat quis. Pellentesque vitae purus nec metus maximus tempor in eget
    enim. <a href="#">API Documentation</a>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Close</button>
</div>